In [1]:
import pandas as pd
import numpy as np

In [24]:
##LOAD MAIN DF
main_df = pd.read_csv("main_df.csv")

In [7]:
main_df.index = main_df.index+1

In [8]:
main_df

,Volcano Name,Eruption Type,Start Date,Max. VEI,Country,Volcanic_Region,Volcano_type,Latitude,Longitude,Summit
1,Ambae,Confirmed Eruption,2021 Dec 5,--,Vanuatu,Melanesia and Australia,Shield,15.389°S,167.835°E,1496.0
2,Pinatubo,Confirmed Eruption,2021 Nov 30,--,Philippines,Philippines and SE Asia,Stratovolcano,15.13°N,120.35°E,1486.0
3,Iliwerung,Confirmed Eruption,2021 Nov 28,--,Indonesia,Indonesia,Complex,8.532°S,123.573°E,583.0
4,Taal,Confirmed Eruption,2021 Nov 15,--,Philippines,Philippines and SE Asia,Caldera,14.002°N,120.993°E,311.0
5,Turrialba,Confirmed Eruption,2021 Nov 3,--,Costa Rica,México and Central America,Stratovolcano,10.025°N,83.767°W,3340.0
...,...,...,...,...,...,...,...,...,...,...
11218,"Yojoa, Lago",Confirmed Eruption,1073 BCE,--,Honduras,México and Central America,Volcanic field,14.964°N,87.983°W,1060.0
11219,Quetrupillan,Confirmed Eruption,1345 BCE,3,Chile,South America,Stratovolcano,39.496°S,71.722°W,2360.0
11220,Saunders,Confirmed Eruption,NaN,0,United Kingdom,Antarctica,Stratovolcano,57.8°S,26.483°W,843.0
11221,"Fournaise, Piton de la",Confirmed Eruption,NaN,--,France,Middle East and Indian Ocean,Shield,21.244°S,55.708°E,2632.0
11222,Karangetang,Confirmed Eruption,NaN,--,Indonesia,Indonesia,Stratovolcano,2.781°N,125.407°E,1797.0

In [9]:
main_df.describe(include = "all")

,Volcano Name,Eruption Type,Start Date,Max. VEI,Country,Volcanic_Region,Volcano_type,Latitude,Longitude,Summit
count,11221,11221,11218,11221,11145,11145,11145,11145,11145,11145.000000
unique,914,3,6934,9,81,19,28,908,912,NaN
top,Etna,Confirmed Eruption,0050 BCE,2,Japan,"Japan, Taiwan, Marianas",Stratovolcano,37.748°N,14.999°E,NaN
freq,241,9943,33,4020,1725,1823,5252,241,241,NaN
mean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2150.239838
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1388.876899
min,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-5700.000000
25%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1229.000000
50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1916.000000
75%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2953.000000
max,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6879.000000

In [10]:
main_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11222 entries, 1 to 11222
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Volcano Name     11221 non-null  object
 1   Eruption Type    11221 non-null  object
 2   Start Date       11218 non-null  object
 3   Max. VEI         11221 non-null  object
 4   Country          11145 non-null  object
 5   Volcanic_Region  11145 non-null  object
 6   Volcano_type     11145 non-null  object
 7   Latitude         11145 non-null  object
 8   Longitude        11145 non-null  object
 9   Summit           11145 non-null  float64
dtypes: float64(1), object(9)
memory usage: 876.8+ KB

In [11]:
main_df.dropna(inplace = True)

In [12]:
main_df[['Year', 'BCE']] = main_df['Start Date'].str.split(" ",n=1,expand=True)#split the data with spaces
main_df['Year'] = main_df['Year'].astype(int) #casting
main_df['BCE'].fillna(value = 'de', inplace = True)#filling nan vallues for the run

In [13]:
for index in range(11141):
    if main_df.iloc[index, 11] == "BCE":                  #if BCE turn the year to -1
        main_df.iloc[index, 10]=main_df.iloc[index, 10]*-1
main_df = main_df.drop(['BCE', 'Start Date'],axis=1) #drop the unecessary columns

In [14]:
main_df.drop(main_df.loc[main_df["Eruption Type"] != 'Confirmed Eruption'].index, inplace=True)#drop unnecessary data

In [15]:
main_df = main_df.drop(['Eruption Type'],axis=1) #drop unnecessary data

In [16]:
main_df['Max. VEI'] = main_df['Max. VEI'].replace(['--'],'999') #filling nan values with 999 integer
main_df['Max. VEI'] = pd.to_numeric(main_df['Max. VEI'],downcast= 'integer')#cast VEI from string to int
main_df.drop(main_df.loc[main_df["Max. VEI"] == 999].index, inplace=True,axis=0)#dropping the 999

In [17]:
main_df[['Latitude_value', 'direction']] = main_df['Latitude'].str.split("°",n=1,expand=True)#split the data with spaces
###
# N -> +
# S -> -
# in that order well be fixing the lat and long (also work in google maps)
main_df['Latitude_value'] = main_df['Latitude_value'].astype(float)
for index in range(main_df.shape[0]):
    if main_df.iloc[index, 10] == "S":#if S turn the lat to -1
        main_df.iloc[index, 9] *=  -1
main_df = main_df.drop(['direction', 'Latitude'],axis=1) #drop the unecessary columns

In [18]:
main_df[['Longitude_value', 'direction']] = main_df['Longitude'].str.split("°",n=1,expand=True)#split the data with spaces
###
# E -> +
# W -> -
# in that order well be fixing the lat and long (also work in google maps)
main_df['Longitude_value'] = main_df['Longitude_value'].astype(float)
for index in range(main_df.shape[0]):
    if main_df.iloc[index, 10] == "W":#if S turn the lat to -1
        main_df.iloc[index, 9] *=  -1
main_df = main_df.drop(['direction', 'Longitude'],axis=1) #drop the unecessary columns

In [19]:
main_df["Volcano_type"] = main_df["Volcano_type"].replace("\((\w+)\)", "",regex = True)#Regular Expressions - ze til!
main_df["Volcano_type"].replace('Stratovolcano?', 'Stratovolcano',inplace =True)
volcano_type_arr=main_df["Volcano_type"].unique()
volcano_type_list =volcano_type_arr.tolist()
volcano_type_dict = {i:j for i,j in zip(volcano_type_list,range(1,80))} # i is key, j value, i iterate on countrylist, j on range
main_df["Volcano_type"].replace(volcano_type_dict,inplace = True)

In [20]:
country_arr=main_df["Country"].unique()
country_list =country_arr.tolist()
countrydict = {i:j for i,j in zip(country_list,range(1,81))} # i is key, j value, i iterate on countrylist, j on range
main_df["Country"].replace(countrydict,inplace = True)

In [21]:
volc_name_arr=main_df["Volcano Name"].unique()
volc_name_list =volc_name_arr.tolist()
volc_name_dict = {i:j for i,j in zip(volc_name_list,range(1,857))} # i is key, j value, i iterate on countrylist, j on range
main_df["Volcano Name"].replace(volc_name_dict,inplace = True)

In [22]:
volc_reg_arr=main_df["Volcanic_Region"].unique()
volc_reg_list =volc_reg_arr.tolist()
volc_reg_dict = {i:j for i,j in zip(volc_reg_list,range(1,100))} # i is key, j value, i iterate on countrylist, j on range
main_df["Volcanic_Region"].replace(volc_reg_dict,inplace = True)

In [ ]:
 #adding a number of eruption column - this takes about 15-20 min
arr_of_eruption =[]
for i in range(main_df.shape[0]):
    count = 0
    print("i:",i)
    for j in range(main_df.shape[0]):
        if i != j and main_df.iloc[i,0] == main_df.iloc[j,0] and main_df.iloc[j,6] <= main_df.iloc[i,6]:
            print("j:",j)
            count += 1
    arr_of_eruption.append(count)
main_df['Number Of Eruptions'] = arr_of_eruption

In [ ]:
#adding the number of eruption per country this takes about 15-20 min
arr_of_eruption =[]
for i in range(main_df.shape[0]):
    count = 0
    print("i:",i)
    for j in range(main_df.shape[0]):
        if i != j and main_df.iloc[i,2] == main_df.iloc[j,2] and main_df.iloc[j,6] <= main_df.iloc[i,6]:
            print("j:",j)
            count += 1
    arr_of_eruption.append(count)
main_df['Number Of Eruptions per Country'] = arr_of_eruption

In [ ]:
def normalize_column(values):#normalizing the summit column by min/max normilization
    min = np.min(values)
    max = np.max(values)
    norm = (values - min)/(max-min) 
    return(pd.DataFrame(norm))

In [ ]:
main_df['Summit'] = normalize_column(main_df['Summit'])

In [56]:
bins = []#splitting the years into segments
i = -9651
while i<2020:
    bins.append(i)
    i += 300 
bins.append(2020)
labels = [j for j in range(1,len(bins))]
main_df['Year']=pd.cut(main_df['Year'],bins,labels=labels)
main_df['Year'] = main_df['Year'].astype(int)

In [49]:
main_df.reset_index(inplace = True,drop=True)
main_df.index += 1

In [5]:
main_df

,Volcano Name,Max. VEI,Country,Volcanic_Region,Volcano_type,Summit,Year,Latitude_value,Longitude_value,Number Of Eruptions,Number Of Eruptions per Country
1,1,1,1,1,1,0.649968,39,-7.540,110.446,77,1259
2,2,4,2,2,1,0.495475,39,13.330,-61.180,7,7
3,3,3,3,3,1,0.543468,39,12.702,-87.004,32,193
4,4,1,1,1,1,0.596855,39,-7.942,112.950,64,1259
5,5,0,4,4,2,0.495658,39,19.421,-155.287,90,728
...,...,...,...,...,...,...,...,...,...,...,...
7671,113,5,14,13,1,0.564768,1,-39.157,175.632,0,0
7672,601,0,4,19,12,0.567236,32,43.420,-113.500,13,153
7673,687,1,23,14,12,0.488710,31,-4.889,31.933,0,3
7674,586,3,19,8,1,0.599689,30,-39.496,-71.722,1,34
7675,586,3,19,8,1,0.599689,28,-39.496,-71.722,0,28

In [25]:
main_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7675 entries, 0 to 7674
Data columns (total 11 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Volcano Name                     7675 non-null   int64
 1   Max. VEI                         7675 non-null   int64
 2   Country                          7675 non-null   int64
 3   Volcanic_Region                  7675 non-null   int64
 4   Volcano_type                     7675 non-null   int64
 5   Summit                           7675 non-null   float64
 6   Year                             7675 non-null   int64
 7   Latitude_value                   7675 non-null   float64
 8   Longitude_value                  7675 non-null   float64
 9   Number Of Eruptions              7675 non-null   int64
 10  Number Of Eruptions per Country  7675 non-null   int64
dtypes: float64(3), int64(8)
memory usage: 659.7 KB

In [58]:
####SAVE DF ###
main_df.to_csv("final-df.csv",index = False)